* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoBold";
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-display: swap;
}

:root {
  --color-red: #ec1630;
  --color-grey: #c4c4c4;
  --color-lightgrey: #eeeeee;
  --color-white: #ffffff;
}

body {
  -webkit-tap-highlight-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

h1,
p,
li {
  font-weight: 300;
  font-size: 18px;
}

a {
  color: var(--color-red);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 30px 50px 50px;
}

.rules {
  margin-bottom: 44px;
}

.rules__title {
  margin-bottom: 16px;
}

.rules__list {
  list-style: none;
  margin-left: 28px;
}
.rules__list_li {
  margin-bottom: 8px;
  padding-left: 16px;
  position: relative;
}
.rules__list_li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-red);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
  gap: 50px;
  margin-bottom: 50px;
}

.step {
  min-height: 217px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.step:last-child {
  justify-content: start;
}

.step__title {
  text-align: center;
}

.step__title span {
  text-transform: uppercase;
}

.step__btns {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.step__btns_btn {
  width: 77px;
  height: 97px;
  font-size: 12px;
  border: 5px solid var(--color-grey);
  border-radius: 10px;
  padding: 4px 4px 12px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.step__btns_btn::after {
  content: "";
  position: absolute;
  top: -18px;
  right: -13px;
  width: 32px;
  height: 32px;
  border: 3px solid var(--color-grey);
  border-radius: 50%;
  background: var(--color-red) url(./icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  transition: transform 0.3s;
}
@media (hover: hover) {
  .step__btns_btn:hover::after {
    transform: scale(1.1);
  }
}

@media (pointer: coarse) {
  .step__btns_btn:hover::after {
    transform: scale(1);
  }
}
.step__btns_btn.upload-btn::after {
  background: var(--color-red) url(./icons/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.file-format {
  display: grid;
  gap: 5.2px;
  margin-bottom: 14.5px;
}

.upload-btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.upload-btn .check-icon {
  opacity: 0;
  max-width: 0;
  transform: scale(0);
  transition: all 0.3s ease;
}

.upload-btn.has-file .check-icon {
  opacity: 1;
  transform: scale(1);
  max-width: 23px;
}

.step__btns_btn.upload-btn.has-file::after {
  background: var(--color-red) url(./icons/edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.step__btns_btn input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.step__note {
  color: var(--color-red);
  font-size: 12px;
  text-align: center;
  padding: 20px 0 0;
  margin-bottom: 44px;
}

.step-payment__btn {
  color: var(--color-white);
  background-color: var(--color-red);
  border: none;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
  font-family: "RobotoBold", sans-serif;
  text-decoration: none;
  padding: 7px 50px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (hover: hover) {
  .step-payment__btn:hover {
    background-color: #f5e9e9;
    color: var(--color-red);
  }
}

@media (pointer: coarse) {
  .step-payment__btn:hover {
    color: var(--color-white);
    background-color: var(--color-red);
  }
}

.notice {
  padding: 15px;
  background-color: var(--color-lightgrey);
  border: 1px solid var(--color-red);
}
.notice p {
  font-size: 12px;
}

@media (max-width: 767px) {
  .container {
    padding: 80px 30px;
  }
  .rules {
    margin-bottom: 60px;
  }
  .rules__list {
    margin-left: 0;
  }
  .steps {
    gap: 60px;
  }
  .step {
    min-height: 200px;
  }
}
